SECRET_KEY=your_secret_key_here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1 

YANDEX_CLIENT_ID=your_client_id
YANDEX_CLIENT_SECRET=your_client_secret
YANDEX_OAUTH_TOKEN=your_oauth_token
YANDEX_REDIRECT_URI=http://localhost:8000/oauth/callback/
